.hitung-container {
    font-family: sans-serif;
    background-color: #FFF;
    border-radius: 12px;
    display: inline-block;
    padding: 0 16px 16px 16px;
    box-shadow: 1px 1px 8px #aaa;
}

.w-input {
    width: 170px;
    border-radius: 9px;
    text-align: right;
    border: solid 1px #777;
}

.minitext {
    color: #AAA;
    font-size: 12px;
}
