

<div class="image-bg">
</div>

<div class="head-toolbar">
  <img class="max-img-1" src="assets/images/EDPMiniXS.png">
  <img class="max-img-2" src="assets/images/EDPDescXS.png">
</div>

<!-- <eli-sidenavcss class="abs-pos"></eli-sidenavcss> -->
<eli-sidenavcss2 class="head-toolbar" [naviItems]="navItems">
  <h1 toolbarLeft class="title-style">
    <!-- <img class="max-img-1" src="assets/images/EDPMiniXS.png"> -->
    Eli Digital Printing
  </h1>

  <div toolbar style="margin-top: 4px;" [routerLink]="['admin']">
    <img class="max-img-1" src="assets/images/EDPMiniXS.png">
    <img class="max-img-2" src="assets/images/EDPDescXS.png">
  </div>

  <nav items>
    <!-- <ul>
      <li [routerLink]="['beranda']">
          <a><i class="fa fa-heart"></i>Beranda</a>
      </li>
      <li [routerLink]="['layanan']">
          <a><i class="fa fa-medkit"></i>Layanan</a>
      </li>
      <li [routerLink]="['galeri']">
          <a><i class="fa fa-heartbeat"></i>Galeri</a>
      </li>
      <li [routerLink]="['beranda']">
          <a href="#"><i class="fa fa-ambulance"></i>Kontak</a>
      </li>
  </ul> -->
</nav>

  <div content class="eli-t-center">

    <div>
      <div class="page-adjust">
        <router-outlet></router-outlet>
      </div>
    </div>

    
  </div>
</eli-sidenavcss2>