
<!-- https://codepen.io/Schepp/pen/WNbQByE -->

<h1 style="width: 300px;">
    <!-- CSS-only Carousel -->
</h1>

<p>
    <!-- This carousel is created with HTML and CSS only. -->
</p>

<section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <li [id]="'carousel__slide' + (i+1)" *ngFor="let slide of contents; let i = index;"
        tabindex="0"
        class="carousel__slide">
        <!-- <img [src]="'assets/images/EDPDesc.png'"> -->
        <div class="slide-container">
          <a [href]="slide.link" target="_blank" class="with-link" *ngIf="slide.link">
            <img class="img-limiter" [src]="slide.url">
          </a>
          <img class="img-limiter" [src]="slide.url" *ngIf="!slide.link">
        </div>
      <div class="carousel__snapper">
        <a [href]="linkPrefix + pfx + '#carousel__slide' + (i ? i : (contents.length))"
           class="carousel__prev">Go to last slide</a>
        <a [href]="linkPrefix + pfx + '#carousel__slide' + ((i+1) == contents.length ? 1 : (i+2))"
           class="carousel__next">Go to next slide</a>
      </div>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item" *ngFor="let slide of contents; let i = index;">
        <a [href]=" linkPrefix + pfx + '#carousel__slide' + (i+1)"
           class="carousel__navigation-button">Go to slide {{i}}</a>
      </li>
    </ol>
  </aside>
</section>