.max-img-1 {
    max-height: 50px;
} 

.max-img-2 {
    max-height: 40px;
}

.pad-img {
    padding-right: 6px;
}

.d-inline-blk {
    display: inline-block;
}

.anim-img {
    height: 40px;
    transform: translateY(0);
    transition: transform 0.3s;
}

.social-btn:hover .anim-img {
    transform: translateY(-5px);
}

.pad-btn {
    margin: 4px;
}

.big-mg-bot {
    margin-bottom: 20px;
}

.image-bg {
    width: 100vw;
    height: 100vh;
    // background: #fca65b;
    background: #d4ebff;
    // background: -moz-linear-gradient(149deg, rgba(252,166,91,1) 0%, rgba(255,218,185,0.9976365546218487) 36%, rgba(255,218,185,1) 68%, rgba(0,254,136,1) 100%);
    // background: -webkit-linear-gradient(149deg, rgba(252,166,91,1) 0%, rgba(255,218,185,0.9976365546218487) 36%, rgba(255,218,185,1) 68%, rgba(0,254,136,1) 100%);
    // background: linear-gradient(149deg, rgba(252,166,91,1) 0%, rgba(255,218,185,0.9976365546218487) 36%, rgba(255,218,185,1) 68%, rgba(0,254,136,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fca65b",endColorstr="#00fe88",GradientType=1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.5;
}

.head-toolbar {
    position: fixed;
    // background: #ffdab9fe;
    top: 0;
    left: 0;
    margin: -8px;
    margin-bottom: 0;
    padding: 8px;
    width: 100%;
}

.page-adjust {
    text-align: left;
    display: inline-block;
    padding: 16px 0;
}

.abs-pos {
    position: absolute;
    top: 0;
    left: 0;
}

.title-style {
    line-height: 2.6;
    font-size: 24px;
    margin: 0;
    padding-left: 12px;
}